%card-content {
    max-width: 200px;
    text-align: center;

    @media #{$mq-medium} {
        max-width: 80%;
    }
}

.card {
    @include flexAlign();
    color: inherit;
    flex-flow: column;
    box-shadow: 1px 0 3px rgba(gray, 0.5);
    border-radius: 5px;
    height: 436px;

    .link {
        font-size: 4rem;
    }

    &__title {
        @extend %card-content;
        color: map-get($colors2, secondary-color);
        font-size: 1.3rem;
    }

    &__description {
        @extend %card-content;
    }

    @media #{$mq-medium} {
        height: 320px;
        margin: 0 20px;
    }
}