/** Geral **/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: map-get($colors1, primary-color);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: map-get($colors1, secondary-color);
}

a {
    color: inherit;
    text-decoration: none;
    transition: $default-transition-time;

    &:hover {
        @extend %hover-light;
    }
}

.link {
    color: map-get($colors1, link-color);

    &:hover {
        color: map-get($colors1, link-color);
    }
}