@mixin flexAlign($alignItems: center, $justifyContent: center) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin setImage($url, $height) {
    background: url($url) no-repeat;
    background-size: cover;
    background-position: center;
    height: $height;
}

%hover-light {
    color: map-get($colors1, primary-color);
    user-select: none;
    cursor: pointer;
    transition: $default-transition-time;
}